.c-item{
  height: 600px;
}

.modal-content .modal-header {
  border-bottom: 1px solid black; /* Change 'yourCustomColor' to your desired color */
}
.modal-content .modal-footer {
  border-top: 1px solid black; /* Change 'yourCustomColor' to your desired color */
}